<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.keyword" placeholder="Nama Barang" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <!-- <el-select v-model="listQuery.importance" :placeholder="$t('table.importance')" clearable style="width: 90px" class="filter-item">
        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
      </el-select> -->
      <!-- <el-select v-model="listQuery.type" :placeholder="$t('table.type')" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select> -->
      <!-- <el-select v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select> -->
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        {{ $t('table.search') }}
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        {{ $t('table.add') }}
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        {{ $t('table.export') }}
      </el-button>
      <!-- <el-checkbox v-model="showReviewer" class="filter-item" style="margin-left:15px;" @change="tableKey=tableKey+1">
        {{ $t('table.reviewer') }}
      </el-checkbox> -->
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" align="center" width="80">
        <!-- <el-table-column :label="$t('table.id')" prop="id" sortable="custom" align="center" width="80"> -->
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="BARCODE" align="left" width="auto">
        <template slot-scope="scope">
          <span>{{ scope.row.barang_id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="NAMA BARANG" align="left" width="auto">
        <template slot-scope="scope">
          <span>{{ scope.row.nama_barang }}</span>
        </template>
      </el-table-column>
      <el-table-column label="KATEGORI" width="110px" align="left">
        <template slot-scope="scope">
          <span>{{ scope.row.kategori }}</span>
        </template>
      </el-table-column>
      <el-table-column label="LIMIT" width="110px" align="left">
        <template slot-scope="scope">
          <span>{{ scope.row.limit_stok }}</span>
        </template>
      </el-table-column>
      <el-table-column label="CREATOR" width="110px" align="left">
        <template slot-scope="scope">
          <span>{{ scope.row.creator }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('table.actions')" align="center" width="auto" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            {{ $t('table.edit') }}
          </el-button>
          <!-- <el-button v-if="row.status!='published'" size="mini" type="success" @click="handleModifyStatus(row,'published')">
            {{ $t('table.publish') }}
          </el-button>
          <el-button v-if="row.status!='draft'" size="mini" @click="handleModifyStatus(row,'draft')">
            {{ $t('table.draft') }}
          </el-button> -->
          <el-button v-if="row.status!='deleted'" size="mini" type="danger" @click="handleModifyStatus(row,'deleted')">
            {{ $t('table.delete') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
        <el-form-item label-width="115px" label="Barcode" prop="barcode">
          <!-- <el-input v-model="temp.barcode" /> -->
          <el-input v-model="temp.barcode" clearable />
        </el-form-item>
        <el-form-item label-width="115px" label="Nama Barang" prop="nama_barang" align="left">
          <el-input v-model="temp.nama_barang" />
        </el-form-item>
        <el-form-item label-width="115px" label="Kategori">
          <el-select v-model="temp.kategori" class="filter-item" placeholder="Pilih Kategori">
            <el-option v-for="kategoriCB in kategoriCBs" :key="kategoriCB.id" :label="kategoriCB.kategori" :value="kategoriCB.kategori" />
          </el-select>
        </el-form-item>
        <el-form-item label-width="115px" label="Limit Stok" prop="limit" align="left">
          <!-- <el-input v-model="temp.limit" /> -->
          <el-input-number v-model="temp.limit" controls-position="right" :min="1" :max="100" @change="handleChange" />
        </el-form-item>
        <el-form-item label-width="115px" label="Limit Stok" prop="limit" align="left">
          <el-input v-model="temp.user_id" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          {{ $t('table.cancel') }}
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// import { fetchList, fetchPv, createBarang, updateBarang } from '@/api/barang';
import waves from '@/directive/waves'; // Waves directive
import { parseTime } from '@/utils';
import Pagination from '@/components/Pagination';
import axios from 'axios';
import Resource from '@/api/resource';
const BarangResource = new Resource('barang');

// const calendarTypeOptions = [
//   { key: 'CN', display_name: 'China' },
//   { key: 'US', display_name: 'USA' },
//   { key: 'JA', display_name: 'Japan' },
//   { key: 'VI', display_name: 'Vietnam' },
// ];

// arr to obj ,such as { CN : "China", US : "USA" }
// const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
//   acc[cur.key] = cur.display_name;
//   return acc;
// }, {});

export default {
  name: 'MasterBarang',
  components: { Pagination },
  directives: { waves },
  // filters: {
  //   statusFilter(status) {
  //     const statusMap = {
  //       published: 'success',
  //       draft: 'info',
  //       deleted: 'danger',
  //     };
  //     return statusMap[status];
  //   },
  //   // typeFilter(type) {
  //   //   return calendarTypeKeyValue[type];
  //   // },
  // },
  data() {
    return {
      tableKey: 0,
      user_param: document.querySelector("meta[name='user_id']").getAttribute('content'),
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 15,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id',
      },
      kategoriCBs: [],
      importanceOptions: [1, 2, 3],
      // calendarTypeOptions,
      // sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      // statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        barcode: '',
        nama_barang: '',
        kategori: '',
        limit: '',
      },
      dialogFormVisible: false,
      currentBarang: {},
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create',
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        barcode: [{ required: true, message: 'Barcode is required', trigger: 'change' }],
        nama_barang: [{ required: true, message: 'Nama Barang is required', trigger: 'change' }],
        kategori: [{ required: true, message: 'kategori is required', trigger: 'change' }],
      },
      downloadLoading: false,
    };
  },
  created() {
    this.getList();
    this.handleCB();
  },
  mounted() {
    // get all provinces data
    console.log(this.user_param);
  },
  methods: {
    async getList() {
      this.listLoading = true;
      const { data, meta } = await BarangResource.list({});
      this.list = data;
      this.total = meta.total;

      // Just to simulate the time of the request
      this.listLoading = false;
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleCB() {
      axios.get('/api/isicbkat').then(response => {
        // mengirim data hasil fetch ke variable array kategori
        this.kategoriCBs = response.data;
        // console.log(this.kategoriCBs);
      });
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: 'Successful operation',
        type: 'success',
      });
      row.status = status;
    },
    sortChange(data) {
      const { prop, order } = data;
      if (prop === 'id') {
        this.sortByID(order);
      }
    },
    // sortByID(order) {
    //   if (order === 'ascending') {
    //     this.listQuery.sort = '+id';
    //   } else {
    //     this.listQuery.sort = '-id';
    //   }
    //   this.handleFilter();
    // },
    handleChange(){
      //
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        barcode: 1,
        nama_barang: '',
        kategori_id: '',
        limit: '',
        $user_id: this.user_param,
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = 'create';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    handleSubmit() {
      if (this.dialogFormVisible.id !== undefined) {
        this.dialogFormVisible.update(this.dialogFormVisible.id, this.dialogFormVisible).then(response => {
          this.$message({
            type: 'success',
            message: 'Category info has been updated successfully',
            duration: 5 * 1000,
          });
          this.getList();
        }).catch(error => {
          console.log(error);
        }).finally(() => {
          this.dialogFormVisible = false;
        });
      } else {
        console.log(this.temp);
        BarangResource
          .store(this.temp)
          .then(response => {
            this.$message({
              message: 'New category ' + this.temp.nama_barang + ' has been created successfully.',
              type: 'success',
              duration: 5 * 1000,
            });
            this.temp = {
              barcode: '',
              nama_barang: '',
              kategori_id: '',
              limit: '',
              $user_id: this.user_param,
            };
            this.dialogFormVisible = false;
            this.getList();
          })
          .catch(error => {
            console.log(error);
          });
        console.log(this.temp);
      }
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = ''; // mock a id
          this.temp.$user_id = this.user_param;
          console.log(this.temp);
          BarangResource(this.temp).then(() => {
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row); // copy obj
      // this.temp.timestamp = new Date(this.temp.timestamp);
      this.dialogStatus = 'update';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          tempData.timestamp = +new Date(tempData.timestamp); // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          BarangResource(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Deleted successfully',
        type: 'success',
        duration: 2000,
      });
      const index = this.list.indexOf(row);
      this.list.splice(index, 1);
    },
    // handleFetchPv(pv) {
    //   fetchPv(pv).then(response => {
    //     this.pvData = response.data.pvData;
    //     this.dialogPvVisible = true;
    //   });
    // },
    handleDownload() {
      this.downloadLoading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'barcode', 'Nama Barang', 'Kategori', 'limit', 'creator'];
        const filterVal = ['id', 'barcode', 'Nama Barang', 'Kategori', 'limit', 'creator'];
        const data = this.formatJson(filterVal, this.list);
        // const data = this.list;
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list',
        });
        console.log(data);
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j]);
        } else {
          return v[j];
        }
      }));
    },
  },
};
</script>
