<!-- File: resources/js/views/categories/List.vue -->
<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button class="filter-item" type="primary" icon="el-icon-plus" @click="handleCreate">
        {{ $t('table.add') }}
      </el-button>
    </div>
    <el-table :data="list" border fit highlight-current-row>
      <!-- <el-table v-loading="loading" :data="list" border fit highlight-current-row> -->
      <el-table-column align="center" label="ID" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="left" label="Kategori" width="auto">
        <template slot-scope="scope">
          <span>{{ scope.row.kategori }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Creator" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.creator }}</span>
        </template>
      </el-table-column>
    </el-table>
    <!-- Dialog -->
    <el-dialog :title="'Create new Kategori'" :visible.sync="kategoriFormVisible">
      <div class="form-container">
        <el-form ref="kategoriForm" :model="currentKategori" label-position="left" label-width="150px" style="max-width: 500px;">
          <el-form-item label="Kategori" prop="kategori">
            <el-input v-model="currentKategori.kategori" />
          </el-form-item>
          <!-- <el-form-item label="User" prop="user_id"> -->
          <el-input v-model="currentKategori.user_id" type="hidden" value="user_id" />
          <!-- <input type="hidden" v-model="currentKategori.user_id"></input> -->
          <!-- <input v-model="currentKategori.user_id" type="text" props="user_id" user_id="user_id"> -->
          <!-- </el-form-item> -->
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="kategoriFormVisible = false">
            Cancel
          </el-button>
          <el-button type="primary" @click="handleSubmit()">
            Confirm
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<!-- File: resources/js/views/categories/List.vue -->
<script>
// import { fetchList } from '@/api/user';
import Resource from '@/api/resource';
const kategoriResource = new Resource('kategori');
// const UserResource = new Resource('user');

export default {
  name: 'KategoriList',
  data() {
    return {
      tableKey: 0,
      user_param: document.querySelector("meta[name='user_id']").getAttribute('content'),
      // list: [],
      kategoriFormVisible: false,
      currentKategori: {},
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 15,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id',
      },
    };
  },
  created() {
    this.getList();
    // this.getUser();
  },
  methods: {
    async getList() {
      const { data } = await kategoriResource.list({});
      this.list = data;
    },
    // async getUser(){
    //   const { item } = await UserResource.list({});
    //   this.list = item;
    //   console.log(item);
    // },
    resetTemp() {
      this.currentKategori = {
        id: undefined,
        kategori: '',
        user_id: this.user_param,
        // timestamp: new Date(),
        // title: '',
        // status: 'published',
        // type: '',
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = 'create';
      this.kategoriFormVisible = true;
      this.$nextTick(() => {
        this.$refs['kategoriForm'].clearValidate();
      });
      // console.log();
    },
    handleSubmit() {
      console.log(this.currentKategori);
      kategoriResource
        .store(this.currentKategori)
        .then(response => {
          this.$message({
            message: 'New category ' + this.currentKategori.kategori + ' has been created successfully.',
            type: 'success',
            duration: 5 * 1000,
          });
          this.currentKategori = {
            kategori: '',
            user_id: this.user_param,
          };
          this.kategoriFormVisible = false;
          this.getList();
        })
        .catch(error => {
          console.log(error);
        });
    },
    handleCreateForm() {
      this.kategoriFormVisible = true;
      this.currentKategori = {
        kategori: '',
        user_id: this.user_param,
      };
      // currentKategori.user_id=this.user_param;
    },
  },
};
</script>
